.newsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}

.newsItem {
  display: flex;
}

.newsDate {
  background-color: #0078f1;
  align-self: flex-start;
  color: #fff;
  padding: 0.7rem 1rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.newsContent {
  margin-left: 1.2rem;
}

.newsTitle {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.newsDescription {
  color: grey;
  font-size: 0.9rem;
}
